:root {
  --color-primary: #666;
  --border-style: solid 1px #777;
}

html {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #414345;
}
